@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rainbow-text {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.rainbow-border {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.rainbow-bg {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.rainbow-bg-light {
  background-image: linear-gradient(
    to right,
    rgba(0, 255, 0, 0.5),
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5),
    rgba(255, 127, 0, 0.5),
    rgba(75, 0, 130, 0.5),
    rgba(148, 0, 211, 0.5),
    rgba(255, 0, 0, 0.5)
  );
}
